body {
        line-height: 1.5;
        font-size: 18px;
        font-family: "Fira Sans", "Noto Sans", "Arimo", "Gudea", "Overpass", "Ubuntu", "Oxygen", "Inter", "Roboto", sans-serif;
        margin: 0;
        padding: 0;
}
a {
        text-decoration: none;
        color: #5d7474;
}
a:visited {
        color: #5d7474;
}
a:hover {
        color: #227373;
        text-decoration: underline;
}
header, .section {
        margin: 0 auto;
        max-width: 75ch;
        padding: 1ch;
        margin-bottom: 0;
}
/* header */
h1 {
        font-size: 32px;
        margin-bottom: 1em;
        margin-top: 2%;
}
h1 a {
        color: #000;
        text-decoration: none;
}
h1 a:visited{
        color: #000;
}
h1 a:hover{
        text-decoration: none;
}
h2 {
        font-size: 27px;
        margin-bottom: 0.5em;
}
/* nav bar */
nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
}
nav li {
        
        margin-right: 2em;
}
nav h3 {
        font-size: 18px;
        font-weight: bold;
        margin: 0;
        padding: 0;
}
nav h3 a {
        color: #5d7474;
}
nav h3 a:visited{
        color: #5d7474;
}
nav h3 a:hover{
        color: #227373;
        text-decoration: underline;
}
/* image list */
pic ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
}
pic li {
        maargin-bottom: 1em
}

pic img {
        height: 100%;
        width: 100%;
        object-fit: contain;
}
/* footer */
footer {
        background: #000;
        margin-top: 1em;
        padding: 1.5ch;
}
footer a:visited {
        color: #5d7474;
}
footer a:hover {
        color: #baffe6;
        text-decoration: none;
}
/* content */
.card {
        box-sizing: border-box;
        margin-bottom: 1.2em;
}
.title {
        font-weight: bold;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
}
.info {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
}
.listimg {
        max-width: 660px;
        max-height: 371px;
}